# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/**/*.mode1v3
/ios/**/*.mode2v3
/ios/**/*.moved-aside
/ios/**/*.pbxuser
/ios/**/*.perspectivev3
/ios/**/*sync/
/ios/**/.sconsign.dblite
/ios/**/.tags*
/ios/**/.vagrant/
/ios/**/DerivedData/
/ios/**/Icon?
/ios/**/Pods/
/ios/**/.symlinks/
/ios/**/profile
/ios/**/xcuserdata
/ios/.xcode.env.local

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Flipper
/android/app/src/debug/java/com/

app-example
